@import "tailwindcss";

@layer utilities {
  /* Custom scrollbar */
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: #09090b;
    border-radius: 9999px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 9999px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
  }
}
